*{margin:0;padding:0;}

body{font-family: 'Inter', sans-serif;
text-transform: uppercase;
background-color: #EBECF0;
}
#backG{background: linear-gradient(0deg,rgba(0,0,0,.1), rgba(0,0,0,0.3)), url('Img/contact2.jpg') no-repeat center center;
background-size: cover;}
/* Style inputs */

.contact-cont{background-color: rgba(0,0,0, 0.1);
  box-shadow: 15px 14px 20px -4px #646B70;padding: 50px 0;max-width: 1250px;margin: 0 auto;  border-radius:20px
}
.contact-cont h1, p{color: #fff;text-align: center;}
.border{width: 100px;
  height: 10px;
  background: #3498db;
  margin: 40px auto;}
.contact-form{max-width: 600px;
margin: auto;
padding: 0 10px;
overflow: hidden;
 }
.contact-form-text{
  font-size: 18px;
  display: block;
  width: 100%;
  margin: 16px 0;
  border: 0;
  border-radius:20px ;
  background:rgba(0,0,0, 0.4) ;
padding: 20px 40px;
outline: none;
color: #ddd;
transition: 0.5s;
text-transform: uppercase;
}

.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #3498db;
}

textarea.contact-form-text{resize: none;height: 120px;}
.contact-form-btn{float: right;
  width: 100px;
  height: 50px;
  font-size:16px ;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #3498db;
  cursor: pointer;
  padding: ;
  border-radius: 24px;
  color: #fff;
  text-transform: uppercase;
  transition: .30s;}


.contact-form-btn:hover{
background: #252850;

}











/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 812px) {
  .column, input[type=submit] {
    width: 50%;
    margin-top: 0;
  }
}
.copR{color: #fff;}







































*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
